/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  background-color: var(--bckg-color);
  color: var(--text-color);
  background-image: var(--bckg-img);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: var(--text-weight);
  }
}

.header {
  margin-block-start: 100px;
  background-color: var(--bckg-color);
  border: 2px solid var(--text-color);
  max-inline-size: 700px;
  inline-size: 100%;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  padding-block-start: 2.09em;
}

.header__paragragh {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding-block-end: 25px;
  text-align: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  padding-block-end: 20px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  font-family: var(--accent-font), sans-serif;
  opacity: 0.6;
  color: var( --text-color);
  position: absolute;
  left: -14px;
  animation: pointer 0.5s ease-in-out alternate infinite;

}

@keyframes pointer {
  from {
    padding-inline-start: 0;
  }
  to {
    padding-inline-start: 4px;
  }
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  inline-size: 100%;
  border-bottom: 2px solid var(--text-color);
  opacity: 0.6;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
  transform-origin: left;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  max-inline-size: 700px;
  inline-size: 100%;
}

.card {
  background-color: var(--bckg-color);
  inline-size: 100%;
  border: 2px solid var(--text-color);
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  padding-inline-start: 10px;
  padding-block: 5px;
}

.wrapper__img-label {
  position: relative;
  inline-size: 100%;
  line-height: 0;
}

.card__img {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.bright {
  filter:brightness(200%)
}

.contrast {
  filter: contrast(50%);
}

.blur {
  filter: blur(0.1rem);
}

.grayscale {
  filter: grayscale(0.8);
}

.sepia {
  filter: sepia(90%);
}

.invert {
  filter: invert(0.3);
}

.multiple-filter {
  filter: sepia(0.5) contrast(0.5) brightness(150%);
}

.saturate {
  filter: saturate(140%);
}

.lable {
  position: absolute;
  top: 27px;
  right: 1.9em;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 
  -1px 0 var(--bckg-color), 
  0 1px var(--bckg-color), 
  1px 0 var(--bckg-color), 
  0 -1px var(--bckg-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports((text-stroke: 1px solid var(--bckg-color)) or (-webkit-text-stroke: 1px solid var(--bckg-color))) {
  .lable {
      -webkit-text-stroke: 1px var(--bckg-color);
      text-stroke: 1px var(--bckg-color);
      text-shadow: none;
  }
} 

.wrapper__card-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__paragraph {
  line-height: 117%;
  font-weight: 400;
  font-size: 18px;
}

.wrapper__card-button {
  display: flex;
  justify-content: end;
  gap: 6px;
  padding-inline-end: 25px;
  padding-block-end: 24px;
}

.card__icon-button {
  background-color: transparent;
  padding-block: 0;
  padding-inline: 0;
  border: 2px solid transparent;
  inline-size: 39px;
  block-size: 40px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var( --text-color);
}

.like-icon {
  inline-size: 100%;
  block-size: 100%;
  overflow: visible;
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
  fill: none;
}

.like-icon:hover .core {
  fill: var(--stroke);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
  fill: none;
}

.like-icon:hover .main-body {
  fill: var(--stroke);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--red);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--red);
  transition: fill 0.3s 0.06s linear;
}

.like-icon .contour {
  fill:var(--stroke);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .heart {
  animation: click-heart 0.3s ease-in alternate 0.1s;
}

@keyframes click-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.like-icon.is-liked .sparks {
  animation: click-heart-sparks 0.3s ease-in alternate 0.3s;
}

@keyframes click-heart-sparks {
  to {
    opacity: 1;
  }
}

.card__like-button {
  inline-size: 130px;
  background-color: transparent;
  border: 2px solid var(--text-color);
  padding-inline: 0;
}

.button-animation {
  position: relative;
  overflow: hidden;
}

.button-animation:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--text-color);
  transition: box-shadow 0.3s ease;
}

.button-animation::before {
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  content: '';
  background-color: var(--text-color);
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  inset: 0;
}

.button-animation:hover::before {
  transform: translateX(0);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9em;
  position: relative;
  color: var(--bckg-color);
  mix-blend-mode: difference;
}

.button-save {
  background-color: var(--bckg-color);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  margin-block-end: 105px;
  padding-inline-end: 21px;
  padding-block: 15px;
  padding-inline-start: 19px;
}

.floppy-svg {
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
}

.dialog__title {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.floppy-svg__dialog {
  inline-size: 39px;
  block-size: 39px;
  --floppy-color: #000000;
 
}

.dialog__button {
   border: 2px solid var(--text-color);
   inline-size: 293px;
   padding-block: 9px;
   background-color: var(--bckg-color);
   text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog {
  border: 2px solid var(--text-color);
  inline-size: 357px;
  padding-block: 30px;
  padding-inline: 30px;
  background-color: var(--bckg-color);
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: repeat(1, 63px);
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  padding-block-end: 30px;
  color: var(--text-color);
}

@media (width <= 375px) {
  .header__title {
    padding-block-start: 2.44em;
  }

  .card__title {
    display: flex;
    flex-direction: column;
  }

  .lable {
    right: 0.9em;
  }

  .button-save {
    flex-direction: column;
    margin-block-end: 100px;
    gap: 8px;
  }

  .floppy-svg {
    inline-size: 28px;
    block-size: 28px;
  }

  dialog {
    inline-size: 341px;
    padding-inline: 40px;
  }

  .dialog__button {
    max-inline-size: 257px;
    inline-size: 100%;
  }
}