/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --paragraph-weight: 785;
    --text-weight: 465;
    --bckg-color: #000000;
    --text-color: #00CC14;
    --bckg-img: repeating-linear-gradient(rgb(0 0 0 / 1) 0px 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(0.25turn, rgb(0 0 0 / 1) 0px 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(#007f0c 0.01%, #004306);
    --like-icon-color-fill: #FF0000;
    --like-icon-color-stroke: #00CC14;
    --floppy-color:#00CC14;
}

.theme-dark .page {
    font-weight: 500;
}

.theme-dark .wrapper__card-button {
    padding-block-end: 24px;
}

.theme-dark .button__text {
    color: var(--text-color);
    mix-blend-mode: difference;
}

.theme-dark .floppy-svg__dialog {
    --floppy-color: #00CC14;
}

@media (prefers-color-scheme: dark) {
    :root {
    --paragraph-weight: 785;
    --text-weight: 465;
    --bckg-color: #000000;
    --text-color: #00CC14;
    --bckg-img: repeating-linear-gradient(rgb(0 0 0 / 1) 0px 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(0.25turn, rgb(0 0 0 / 1) 0px 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(#007f0c 0.01%, #004306);
    --like-icon-color-fill: #FF0000;
    --like-icon-color-stroke: #00CC14;
    --floppy-color:#00CC14;
    }

    .page {
        font-weight: 500;
    }
    
    .button__text {
        color: var(--text-color);
        mix-blend-mode: difference;
    }
    
    .floppy-svg__dialog {
        --floppy-color: #00CC14;
    }
}

:root.theme-light {
    --accent-font: 'PressStart2P';
    --main-font: 'Inter';
    --paragraph-weight: 700;
    --text-weight: 400;
    --bckg-color: #FFFFFF;
    --text-color: #000000;
    --bckg-img: repeating-linear-gradient(rgb(211 211 211 / 1) 0px 2px, rgb(211 211 211 / 0) 2px 4px),
                repeating-linear-gradient(0.25turn, rgb(211 211 211 / 1) 0px 2px, rgb(211 211 211 / 0) 2px 4px),
                repeating-linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --like-icon-color-fill: #FF0000;
    --like-icon-color-stroke: #000000;
    --floppy-color:#FFFFFF;
}

.theme-light .button__text {
    color: var(--bckg-color);
    mix-blend-mode: difference;
  }

.theme-light  .floppy-svg__dialog {
    --floppy-color: #000000;
}