/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-font: PressStart2P;
    --main-font: Inter;
    --paragraph-weight: 700;
    --text-weight: 400;
    --bckg-color: #FFFFFF;
    --text-color: #000000;
    --bckg-img: repeating-linear-gradient(rgb(211 211 211 / 1) 0px 2px, rgb(211 211 211 / 0) 2px 4px),
                repeating-linear-gradient(0.25turn, rgb(211 211 211 / 1) 0px 2px, rgb(211 211 211 / 0) 2px 4px),
                repeating-linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --like-icon-color-fill: #FF0000;
    --like-icon-color-stroke: #000000;
    --floppy-color:#FFFFFF;
}

